<% if !@restrooms.blank? %>
  <% for item in @restrooms %>
    <div class="">
      <h2><%=item.restaurant_name%></h2>
        <% if !@restrooms.reviews.blank? %>
          <ul>
            <% for item in @restrooms.reviews %>
              <li>
                <a href="/review/<%=item.id%>">
                  <div class="">
                    <%=item.body%>
                  </div>
                </a>
              </li>
              <%end%>
          </ul>
          <% end %>
    </div>
  <% end %>
<% end %>

<% if @logged %>
  <a href="/logout">Log out</a>
<% end %>
